<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/checkout.css">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Trader Johns' Organic Food Marketplace</title>
</head>
<body>

  {{!-- Begin header section --}}
  <header>
    <img src="/images/logo.png" id="logo" alt="logo">
    <div class="container" id="nav">
      <h2><a href="/">Welcome to Trader Johns', the ebay of organic foods!</a></h2>
      {{#if logged_in}}
      <div class="button-div">
        <a href="/profile" ><button id="profile-button">profile</button></a>
      <button class="logout-btn">logout</button>
      </div>
      {{else}}
      <a href="/login" class="login-signup"><button>Login or Signup</button></a>    
      {{/if}}
    </div>
  </header>

  {{!-- Begin main section --}}
  <main>
    <div class="container">{{{ body }}}</div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<footer>
  <p></p>
</footer>
</html>