<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ui.css">
  <link rel="stylesheet" href="/css/checkout.css">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Traders Johns' Organic Food Marketplace</title>
</head>

<body>

  

  {{!-- Begin header section --}}
  <header>
    <div class="container title-container">
      <h2>Welcome to Trader Johns'!</h2>
      <h3>the ebay of organic foods!</h3>
      <a href="/">
        <button class="homepage-btn">Home</button>
      </a>
      {{#if logged_in}}
      <a href="/profile">
        <button class="homepage-btn">Profile</button>
      </a> |
      <button class="logout-btn">logout</button>
      {{else}}
      <a href="/login" class="login-signup">
        <button class="homepage-btn">Login or Sign-up</button>
      </a>
      {{/if}}
  </header>

  {{!-- Begin main section --}}
  <main>
    <div class="container">{{{ body }}}</div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>