<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Traders Johns' Organic Food Marketplace</title>
</head>
<body>

  {{!-- Begin header section --}}
  <header>
    <div class="container">
      <h2><a href="/">Welcome to Traders Johns', the ebay of organic foods!</a></h2>
      <a href="/login" class="login-signup">Login or Signup</a>    
  </header>

  {{!-- Begin main section --}}
  <main>
    <div class="container">{{{ body }}}</div>
  </main>
</body>
</html>