<div id="card-container">
  <h2>Current Products</h2>
  {{!-- <p>make if then statement to say login to see prices</p> --}}

  {{!-- if logged in, show prices, otherwise do not show prices --}}
  <div id="card">
    {{#each products as |product|}}
      <div>      
        {{id}}
        {{product_name}}
        {{description}}
        {{price}}   
      </div>
    {{/each}}    
  </div>



