<div class="login-signup-section">

<div class="login">
  <h2>Login</h2>
  <form action="POST" id="login-form">
    <div class="form-section">
      <label for="user-name">user name</label>
      <input type="text" id="user-name" name="user-name">
    <div class="form-section">
    <div class="form-section">
        <label for="password">password</label>
        <input type="text" id="password" name="password">
    </div>
    <button id="user-login"><a href="/profile">Login</a></button>  
  </form>
</div>

<br>

<div class="signup">
  <h2>Sign up</h2>
  <form action="POST" id="login-form">
    <div class="form-section">
      <label for="user-name">user name</label>
      <input type="text" id="user-name" name="user-name">      
    </div>
    <div class="form-section">
       <label for="email">email</label>
       <input type="text" id="email" name="email">
    </div>
    <div class="form-section">
      <label for="password">password</label>
      <input type="text" id="password" name="password">
    </div>
    <button id="user-login"><a href="profile">Login</a></button>  
  </form>
</div>

</div>


