<div class="login-signup-section">

  {{!-- both of the below had form action="POST" but a post method is made in the js file. See if this still works when completed --}}

<div class="login">
  <h2>Login</h2>
  <form id="login-form">
    <div class="form-section">
      <label for="user-name">user name</label>
      <input type="text" id="login-user-name" name="login-user-name">
    </div>   
    <div class="form-section">
        <label for="password">password</label>
        <input type="text" id="login-password" name="password">
    </div>
    <button id="login-btn">Login</button>  
  </form>
</div>

<br>

<div class="signup">
  <h2>Sign up</h2>
  <form id="login-form">
    <div class="form-section">
      <label for="user-name">user name</label>
      <input type="text" id="signup-user-name" name="user-name">      
    </div>
    <div class="form-section">
       <label for="email">email</label>
       <input type="text" id="signup-email" name="email">
    </div>
    <div class="form-section">
      <label for="password">password</label>
      <input type="text" id="signup-password" name="password">
    </div>
    <button id="signup-btn">Signup</button>
    
  </form>
</div>

</div>

<script src="./js/login.js"></script>

