
/* Login and Sign up forms */

.login-signup-section {
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.signup,
.login{
    width: 60vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
    background-image: linear-gradient( rgb(241, 200, 200),lightcoral );

}
.form{
    width: 98%;
}
/* .form-section {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 5px 5px;
    align-items: stretch;
} */
/* .login button,
.signup button{

} */
