* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: black;
    max-width: 1200px;
    margin: auto;    
}

/* Begin header section */

header {
    color: white;
    background-color: lightcoral;
    margin: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    font-style: oblique;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.container button {
        background-color: white;
        color: black;
        border: 2px solid #555555;
        float: inline-start;
        width: 110px;
      }
      
      .container button:hover {
        background-color: lightcoral;
        color: white;
}

/* Begin main section */
main {
    display: flex;
    flex-wrap: wrap;

}

.container input{
    display: flex;
    justify-content: center;
}

main .container{
    display: flex;
    flex-wrap: wrap;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif
}
/* Card container */


/*page background color*/
body{
    background-color: rgb(204, 204, 204);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.card {
    color: black;
    background-color: rgb(231, 255, 255);
    width: 200px;
    margin: 5px;
    border: solid;
    text-align: center;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif
}


.card h3 {
    margin: 2px 0;
}

.card p {
    margin: 5px 0;
}
/* Set max size for images */
.card img {
    width: 100px;
    height: 80px;
}


/* Login and Sign up forms */

.login-signup-section {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#product-elseprice {
    font-style: normal;
}

/* Create new product form */
.create-new-product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid ;
}
#new-product{
    display: block;

}
.form-section{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 5px 5px;
    align-items: stretch;
}
.product-create-btn{
    width: 98%;
}