* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;    
}

/* Begin header section */

header {
    margin: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

/* Begin main section */

/* Card container */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.card {
    width: 200px;
    margin: 5px;
    border: solid;
    text-align: center;
}

.card h3 {
    margin: 2px 0;
}

.card p {
    margin: 5px 0;
}


/* Login and Sign up forms */

.login-signup-section {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}



